/* ==UserStyle==
@name         Spletna ucilnica FRI Dark Theme
@version      1.0.0
@description  Dark theme za Spletno ucilnico FRI
@namespace	  github.com/PinkHatHacker/Dark-theme-za-Spletno-ucilnico-FRI
@author       Luka Pantar
@homepageURL  https://github.com/PinkHatHacker/Dark-theme-za-Spletno-ucilnico-FRI
==/UserStyle== */

@-moz-document domain("ucilnica.fri.uni-lj.si") {

	* {
		background-color: #1e1e1e !important;
		color: #fff;
		border-color: #ddd !important;
	}
	
	.btn {
        	color: #fff;
    	}

	.bg-white {
		background-color: #1e1e1e !important;
	}

	.navbar {
		box-shadow: 0 2px 4px rgba(255, 255, 255, .2);
	}

	.coursebox.even, .coursebox.even div, .coursebox.even i, .coursebox.even a {
		background-color: #313131 !important;
	}


	#nav-drawer, .bg-gray, button {
		background-color: #000 !important;
	}

	a, .instancename {
		color: #4da6ff !important;
	}

	.resourcelinkdetails {
		color: #b9b9b9 !important;
	}

	.p-0 {
		border-color: #1e1e1e !important;
	}

	.list-group-item.active, .list-group-item.active span, .list-group-item.active i {
		border-color: #1f1fff !important;
		background-color: #1f1fff !important;
	}

	.calendar_event_site, .calendar_event_site i  {
		background-color: #d6f8cd !important;
	}

	.calendar_event_site i, .calendar_event_category i, .calendar_event_course i, .calendar_event_group i, .calendar_event_user i {
		color: #000 !important;
	}

	.calendar_event_category, .calendar_event_category i {
		background-color: #d8bfd8 !important;
	}

	.calendar_event_course, .calendar_event_course i {
		background-color: #ffd3bd !important;
	}

	.calendar_event_group, .calendar_event_group i {
		background-color: #fee7ae !important;
	}

	.calendar_event_user, .calendar_event_user i {
		background-color: #dce7ec !important;
	}
	
    	footer a, footer div {
        	background-color: #373a3c !important;
	}
    
   	.quizattemptsummary tbody tr:hover {
        	background-color:#2b2b2b !important; /*hover ne dela*/
    	}
    	.quizattemptsummary tbody tr:nth-of-type(odd) .cell, .quizattemptsummary tbody tr:nth-of-type(odd) a, .quizattemptsummary tbody tr:nth-of-type(odd) span {
        	background-color:#3e3e3e !important;
    	}
    
   	.quizreviewsummary tbody tr td, .quizreviewsummary tbody tr td b {
       	 	background-color:#3e3e3e !important;
    	}
    	.quizreviewsummary tbody tr th {
      	  	background-color:#2b2b2b !important;
    	}
    
    	.info, .info div, .info h3, .info span, .info input {
        	background-color:#3e3e3e !important;
    	}
    
    	.formulation, .formulation .answer div, .formulation .answer label, .formulation p, .formulation .prompt, div.ablock, div.ablock label, div.ablock span, .qtext i, .qtext span, .qtext {
        	background-color:#000d58 !important;
        	color: #aec0ff !important;
    	}
    
    	.formulation .answer i {
        	background-color:#000d58 !important;
    	}
    
    	span.answer input {
        	color: #fff !important;
    	}
    
    	.outcome div, .outcome {
        	background-color:#7e5600 !important;
        	color: #fff293 !important;
    	}
    
    	.qn_buttons .correct .trafficlight {
        	color: #fff !important;
        	background-color:#0f0 !important;
    	}
    	.qn_buttons .incorrect .trafficlight {
        	color: #fff !important;
        	background-color:#f00 !important;
    	}
	.qn_buttons .partiallycorrect .trafficlight {
        	color: #fff !important;
        	background-color:#fa0 !important;
    	}
    	.thispageholder {
        	background-color:#0f00 !important;
    	}
    
    	li div.info {
        	background-color: #1e1e1e !important;
    	}
	
	.d-sm-inline-block, button i.icon {
        	background-color: #000 !important;
    	}
}
